{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="row">
    <div class="col-6">
        <a class="btn btn-secondary d-block" href="{{ path('employee_desk_index') }}">Back</a>
    </div>
    <div class="col-6">
        <button style="width: 100%" class="btn btn-success d-block ">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
