{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block navigation %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/RegistrationRequestResponseController.js') }}"></script>

    <script>

        function showFurtherList(code, id) {
            //Jei jis turi vaiku juos atodarom jei ne neatidarom
            $(`#${code}`).toggle();

            //TODO: ajax send with parameters
            if (getDivChildrenLength(`#${code}`) === 0) {
                let controller = new RegistrationRequestResponseController('{{ path('queue_task_new') }}', {interestCode: code, interestId: id});
                controller.ajaxSend();
            }

        }
/*
        function ajaxSendWithParams(path, data) {
            let ajax = $.ajax({
                url: path,
                type: 'POST',
                data: data,
                dataType: 'json',
                async: false,
            });

            let controller = new RegistrationRequestResponseController();

            ajax.done(function (data) {
                controller.validateCode(data);
            }).fail(function () {
                controller.onAjaxFail();
            });

        }*/

        function getDivChildrenLength(selector) {
            return $(selector).children().length
        }

    </script>
{% endblock %}



{% macro recursiveInterest(interest) %}
    {% import _self as self %}

    {% if interest.subType is not null %}
        <button class="btn" style="width: 100%; background-color: cornflowerblue"
                onclick="showFurtherList('{{ interest.getCode }}', '{{ interest.id }}')">{{ interest.fullName }}</button>

        <div id="{{ interest.code }}" style="display: none">
            {% for subInterest in interest.interestType %}
                {{ self.recursiveInterest(subInterest) }}
            {% endfor %}
        </div>
    {% else %}
        <button class="btn" style="width: 100%; background-color: #eadca6"
                onclick="showFurtherList('{{ interest.getCode }}', '{{ interest.id }}')">{{ interest.fullName }}</button>

    {% endif %}

{% endmacro %}

{% block body %}
    {% from _self import recursiveInterest %}

    <div class="container vertical-center">
    <ul class="list-group">
        {% for ineterest in baseInterest %}
            <li class="list-group-item">
                <button class="btn" style="width: 100%; background-color: #eadca6"
                        onclick="showFurtherList('{{ ineterest.getCode }}', '{{ ineterest.id }}')">{{ ineterest.fullName }}</button>
            </li>
        {% endfor %}
    </ul>
    </div>

{% endblock %}
